body {
  background-color: #790C5A;
  color: yellow;
  font-family: signpainter;
  font-size: 17px
}


h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;	
}
a {
  text-decoration: none;
  color: white;	
}
a:hover {
  color : white;
}


